.message_feed {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.message_feed_heading {
  padding: 16px;
  border-bottom: solid 1px rgb(31, 36, 49);
}
.message_feed_heading .title {
  color: #fff;
  font-weight: 800;
  font-size: 20px;
}

.message_feed_collection {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 12px 0;

  /* Firefox */
  scrollbar-width: thin;
  scrollbar-color: rgb(149, 0, 255) rgb(31, 36, 49);
}

/* WebKit (Chrome, Edge, Safari) */
.message_feed_collection::-webkit-scrollbar {
  width: 8px;
}
.message_feed_collection::-webkit-scrollbar-track {
  background: rgb(31, 36, 49);
}
.message_feed_collection::-webkit-scrollbar-thumb {
  background-color: rgb(149, 0, 255);
  border-radius: 999px;
  border: 2px solid rgb(31, 36, 49);
}
.message_feed_collection::-webkit-scrollbar-thumb:hover {
  background-color: rgb(180, 60, 255);
}
